<% include partials/header %>

    <h2 class="col-md-4">Name: <%- body.accommodations[0].attraction.name %></h2>
    <h2><img src="<%- body.accommodations[0].image.urls.original %>" alt=""></h2>
    <h2 class="col-md-4">Star Rating: <%- body.accommodations[0].attraction.starRating %></h2>
    <h2 class="col-md-4">Minimum Rate: <%- body.accommodations[0].attraction.minRate %></h2>



    <h2><img src="<%- body.accommodations[1].image.urls.original %>" alt=""></h2>
    <h2>Name: <%- body.accommodations[1].attraction.name %></h2>
    <h2>Star Rating: <%- body.accommodations[1].attraction.starRating %></h2>
    <h2>Minimum Rate: <%- body.accommodations[1].attraction.minRate %></h2>

    <h2><img src="<%- body.accommodations[2].image.urls.original %>" alt=""></h2>
    <h2>Name: <%- body.accommodations[2].attraction.name %></h2>
    <h2>Star Rating: <%- body.accommodations[2].attraction.starRating %></h2>
    <h2>Minimum Rate: <%- body.accommodations[2].attraction.minRate %></h2>

    <h2><img src="<%- body.accommodations[3].image.urls.original %>" alt=""></h2>
    <h2>Name:<%- body.accommodations[3].attraction.name %></h2>
    <h2>Star Rating: <%- body.accommodations[3].attraction.starRating %></h2>
    <h2>Minimum Rate: <%- body.accommodations[3].attraction.minRate %></h2>

    <h2><img src="<%- body.accommodations[4].image.urls.original %>" alt=""></h2>
    <h2>Name:<%- body.accommodations[4].attraction.name %></h2>
    <h2>Star Rating: <%- body.accommodations[4].attraction.starRating %></h2>
    <h2>Minimum Rate: <%- body.accommodations[4].attraction.minRate %></h2>



  <% include partials/footer %>
