<!-- <!DOCTYPE html>

  <html>
  <head>
    <title></title>
  </head>
  <body>





    <h2><img src="<%- body.accommodations[0].image.urls.original %>" alt=""></h2>
    <h2>Name: <%- body.accommodations[0].attraction.name %></h2>
    <h2>Star Rating: <%- body.accommodations[0].attraction.starRating %></h2>
    <h2>Minimum Rate: <%- body.accommodations[0].attraction.minRate %></h2>

    <h2><img src="<%- body.accommodations[1].image.urls.original %>" alt=""></h2>
    <h2>Name: <%- body.accommodations[1].attraction.name %></h2>
    <h2>Star Rating: <%- body.accommodations[1].attraction.starRating %></h2>
    <h2>Minimum Rate: <%- body.accommodations[1].attraction.minRate %></h2>

    <h2><img src="<%- body.accommodations[2].image.urls.original %>" alt=""></h2>
    <h2>Name: <%- body.accommodations[2].attraction.name %></h2>
    <h2>Star Rating: <%- body.accommodations[2].attraction.starRating %></h2>
    <h2>Minimum Rate: <%- body.accommodations[2].attraction.minRate %></h2>




    <h2>Name: <%- body.accommodations[1].attraction.name %></h2>
    <h2>Star Rating: <%- body.accommodations[1].attraction.starRating %></h2>
    <h2>Minimum Rate: <%- body.accommodations[1].attraction.minRate %></h2>
    <h2>Images: <%- body.accommodations[1].image.urls[0] %></h2>





  </body>
  </html> -->
